@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@media print {
    @page {
        size: portrait;
        size: A4;
        margin: 0 !important;
        padding: 0 !important;
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-VariableFont_wght.ttf');
}

body {
    font-family: Montserrat;
}

.page {
    width: 21cm;
    height: 29.7cm;
    background: white;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    /*page-break-inside: avoid;*/
}

.text-decoration {
    justify-content: center;
    border-bottom: 2px solid #8f8f8f;
}

